<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-danger">
                <div class="card-header bg-danger text-white">
                    <h4 class="mb-0">Error</h4>
                </div>
                <div class="card-body">
                    <div class="text-center mb-4">
                        <img src="./img/error-digimon.png" alt="Error" class="img-fluid" style="max-width: 200px;">
                    </div>
                    <h5 class="card-title text-danger">{{message}}</h5>
                    {{#if error}}
                        <p class="card-text">{{error}}</p>
                    {{/if}}
                    <div class="text-center mt-4">
                        <a href="/" class="btn btn-primary">Return to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>