<footer id="footer" class="d-flex flex-column mt-2 py-3 align-items-center bg-dark text-white h-auto">
    <div class="d-flex justify-content-center gap-3">
        <a href="http://localhost:3000/digimon/about" class="text-decoration-none">
            <span class="display-6 fs-4 text-white">Digimon</span>
        </a>
        <a href="http://localhost:3000/digimon/about" class="text-decoration-none">
            <span class="display-5 fs-3 text-white">About Us</span>
        </a>
        <a href="http://localhost:3000/digimon/about" class="text-decoration-none">
            <span class="display-6 fs-4 text-white">Pokemon</span>
        </a>
    </div>
    <p>TripleG© Spa. rights reserved 2023</p>
</footer>