<footer id="footer-digimon" class="d-flex flex-column mt-2 py-3 align-items-center bg-dark text-white h-auto">
    <a href="http://localhost:3000/digimon/about" class="text-decoration-none">
        <span class="display-6 fs-3 text-white">
            About Us
        </span>
    </a>
    <p>TripleG© Spa. rights reserved 2023</p>
</footer>